/*top banner*/
body {
  text-align: center;
  font-family: 'open sans', sans-serif;
  font-weight: 300;
}

h1 {
  background-color: #404041;
  color: #ED458B;
  font-family: 'open sans', sans-serif;
  font-weight: 700;
  margin-top: 0px;
  padding-bottom: 5px;
  padding-top: 5px;
}

span {
  color: #E6E7E8;
  font-weight: 300;
}
/*middle section*/
button {
  background-color: #929497;
  border-radius: 25px;
  color:#FFF;
  width: 20%;
  margin: 4%;
  padding: 4px 0px 4px 0px;
}

button:hover {
  background-color: #ED008B;
}

button:disabled {
  background-color: #D0D2D3;
}

.guess-button {
  margin-right: 2px;
}

.input {
  height: 10px;
  width: 47%;
  padding: 7px;
  margin-top: 3px;
}

.returnLineOne, .returnLineThree {
  color: #404041;
  margin-bottom: 0px;
  font-weight: 300;
}

#enter-button {
  margin-bottom: 10px;
}
.rangeNan {
  margin-top: 2px;
}

.returnLineOne {
  margin-top: 0px;
}

.returnLineThree {
  margin-top: 5px;
}

.returnLineTwo {
  color: #EB008B;
  font-size: 100px;
  font-weight: 100;
  margin-top: 5px;
  margin-bottom: 5px;
}

#reset-button {
  width: 50%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.afterWin {
  color: #ED008B; 
}

#mins, #maxs {
  width: 15%;
}
